body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 1;
    padding: 5em;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  input {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  
  .results {
    margin-top: 20px;
  }
  
  .member-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
  }
  
  .member-card h3 {
    color: #333;
  }
  
  .member-card p {
    color: #666;
  }